# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Node
node_modules/
npm-debug.log*
yarn-error.log*
yarn-debug.log*
pnpm-debug.log*

# Env / secrets
.env
.env.local
.env.*.local

# Next.js
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# Vercel
.vercel

# Build output
dist/
build/

# Logs
*.log
